<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tribook</title>
    <%- include('./partials/head') %>
</head>

<body>
    <header>
        <%- include('./partials/nav.ejs') %>
    </header>
    <main class="container apartments">
        <% for (const ap of apartments) { %>
            <a href="/apartment/<%= ap._id %>">
                <article class="apartment">
                    <header class="title">
                        <%= ap.title %>
                    </header>
                    <div class="photo-frame">
                        <img id="photo" src="<%= ap.photo %>" alt="">
                    </div>
                    <div class="description">
                        <p><%= ap.description %></p>
                    </div>
                    <footer>
                        <div class="squareMeters"><%= ap.squareMeters %> m2</div>
                        <div class="price"><%= ap.price %> $ por noche</div>
                    </footer>
                </article>
            </a>
            <% } %>
    </main>
</body>

</html>